.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #14262b, #29444f);
  /* background-color: #1A3137; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------------------- */

/* CUSTOM CSS STYLESHEET */

/* ---------------------- */
/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
  background-color: rgba(165,217,208,0.25);
}


/* active (faded) */
.nav-pills .pill-1 .nav-link {
  background-color: rgba(165,217,208, 0.95);
  color: white;
}

/* not active */
.input-group .btn-search-input:not(.active) {
  background-color: rgb(181,199,233);
  color: white;
}




@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 10px solid rgba(0,0,0,0); /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}