.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* ==========================================================================
   CUSTOM CSS STYLESHEET
   ========================================================================== */

.landing-header {
    background-image: url('./assets/HeaderImage.svg');
    background-repeat: no-repeat;
    background: 'rgba(255,255,255,.3)';
}
/* Header background image */
@media (min-width: 992px) {
    .landing-header {
    background-position: 100% 70%;
    background-size: auto 70%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .landing-header {
        background-position: 50% 25%;
        background-size: auto 55%;
        
    }
}

@media (min-width: 576px) and (max-width: 769px) {
    .landing-header {
        background-position: 50% 20%;
        background-size: auto 50%;
    }
}

@media (max-width: 576px) {
    .landing-header {
        background-position: 50% 20%;
        background-size: auto 45%;
    }
}


/* Buttons: categories and next page (inactive) */
.nav-pills .pill-1 .nav-link:not(.active),
.fc-today-button.btn:is(:hover, :focus),
.fc-prev-button:is(:hover, :focus),
.fc-next-button:is(:hover, :focus) {
  background-color: #D2E4E1;
  border-color: #D2E4E1;
  border-radius: 30px;
  box-shadow:  0 .5rem 1rem rgba(0,0,0, .06);
  color: white;
}

/* Buttons: categories and next page (active) */
.nav-pills .pill-1 .nav-link,
.nav-pills .pill-1 .nav-link:hover,
.fc-today-button.btn, 
.fc-prev-button, 
.fc-next-button {
  background-color: rgba(165,217,208, 1);
  border-color: rgba(165,217,208, 1);
  border-radius: 30px;
  box-shadow:  0 .5rem 1rem rgba(0,0,0, .06);
  color: white;
}

/* Buttons: submit & delete (default) */
.btn-search-input,
.btn-delete-input {
  background-color: #b7cbf2;
  border-color: #b7cbf2;
  color: white;
  border-radius: 30px;
  box-shadow:  0 .5rem 1rem rgba(0,0,0, .06);
  padding-left: 20px;
  padding-right: 20px;
}

/* Buttons: submit & delete (hover/disabled) */
.btn-search-input:is(:hover, :disabled, :focus),
.btn-delete-input:is(:hover, :disabled) {
  background-color: #C8D5EF;
  border-color: #b7cbf2;
  color: white;
  border-radius: 30px;
  box-shadow:  0 .5rem 1rem rgba(0,0,0, .06);
}

/* Buttons: clear results (default) */
.btn-clear-results {
  background-color: rgba(165,217,208, .7);
  border-color: rgba(165,217,208, .9);
  border-radius: 30px 0px 0px 30px;
  box-shadow:  0 .5rem 1rem rgba(0,0,0, .08);
  color: white;
  padding: 9px 12px 9px 9px;
  letter-spacing: 1px;
  
}

/* Buttons: clear results (hover/focus) */
.btn-clear-results:is(:hover,:focus) {
  background-color: rgba(165,217,208, 1);
  border-color: rgba(165,217,208, 1);
  color: white;
}

/* Icon for: clear button */
.btn-exit-close {
  border:0;
  background: transparent;
  align-items: center;
  width: 32px;
  height: 32px;
  padding:0px;

}

/* Button borders */
.rounded-edge {
  border-radius: 22px;
  box-shadow:  0 .7rem 2rem rgba(0,0,0, .04);
}

/* Thumbnail image style */
.round-edge {
  border-radius: 100px;
  box-shadow:  0 .5rem 1rem rgba(0,0,0, .03);
}

/* FullCalendar title */
h2#fc-dom-44.fc-toolbar-title, 
h2#fc-dom-2.fc-toolbar-title {
    font-size: 1.25rem;
}

.offcanvas-title {
    letter-spacing: 2px;
}

#top-alert {
  position: fixed;
  top: 0px;
  z-index: 99999; 
}

.form-control {
    border-right-width:0px;
}

#clear-input {
  border-style: solid;
  border-width: 0.994009px 0px 0.994009px 0px;
  border-top-color: rgb(206, 212, 218);
  border-bottom-color: rgb(206, 212, 218);
  background-color: #fff;
}

#clear-input.disable {
 background-color: #f4f6f7 !important;
 border-top-color: rgba(206, 212, 218, 0.5);
 border-bottom-color: rgba(206, 212, 218, 0.5);
}


/* Google sign in buttons by anthonyjgrove@github 
   ========================================================================== */
#googleButton {
    background-color:  #fff;
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, .54);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 0 1px 0 rgba(0, 0, 0, .14);
    padding: 2px 15px 2px 5px;
    border-color: #DADCE0;
    border-radius: 25px;
    border: 1px solid transparent;
    font-weight: 500;
    font-family: "Google Sans", arial, sans-serif;
    font-size:.8rem;
}

#googleButton:hover {
    background-color:#F8FAFF;
    border-color:#D2E3FC;
    
}



/* Loading spinner from https://contactmentor.com/how-to-add-loading-spinner-react-js/
   ========================================================================== */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 10px solid rgba(0,0,0,0); /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}



/* Animated scroll arrow animation from https://unused-css.com/blog/animated-down-arrow/
   ========================================================================== */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 25px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 14px;
  height: 14px;
  border-bottom: 3px solid #46455B;
  border-right: 3px solid #46455B;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 1.2s ease-in-out infinite;
  -moz-animation:    fade_move_down 1.2s ease-in-out infinite;
  animation:         fade_move_down 1.2s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
