.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------------------- */

/* CUSTOM CSS STYLESHEET */

/* ---------------------- */
/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
  background-color: rgba(100,94,198,0.25);
}


/* active (faded) */
.nav-pills .pill-1 .nav-link {
  background-color: rgba(143, 137, 211, 0.85);
  color: white;
}

/* not active */
.btn-search-input:not(.active) {
  background-color: rgba(143, 137, 211, 0.85);
  color: white;
}



